/*
Light grey:  #c8c2b3
Beige:       #baad4a
Blue:        #397881
Dark grey:   #828f80
*/


* {
    font-size:13px;
    font-family: "Open Sans";
}

h2 { 
    font-size: 1.8em;
    font-weight: bold;
}
h3 { 
    font-size: 1.2em; 
    text-decoration: underline;
}
main {
	grid-area: main;
	display: grid;
	grid-template-columns: inherit;
}

body {
	max-width:1000px;
	margin:auto;
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	grid-template-rows: auto;
	grid-template-areas: 
		"header header header "
		"nav nav nav"
		"main main main"
		"footer footer footer ";
}

/********** HEADER **********/

	header {
		background-image: url(images2/logo.png);
		background-repeat: no-repeat;
		background-size: auto 100%;
		grid-area: header;
		height:140px;
		width:100%;
	}	
	
	header div.icones {
		float:right;
		height:20px;
		margin-top:25px;
    	margin-right:10px;
	}
	
	header div#pop-up-menu {
		display:none;
	}

/********* TOPNAV MENU *********/

	nav {
		overflow: hidden;
		background-color: #333;
		grid-area: nav;
	}

	nav a {
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 15px 20px;
		text-decoration: none;
		font-size: 1.2em;
	}


	nav a {
		text-decoration: none;
		text-transform: uppercase; 
	}
	
/******** BANNER  *********/

	.banner-container {
		height:400px;
		overflow: hidden;
		margin-top:5px;
		grid-column-start: 1;
		grid-column-end: 4;
	}
		
	.banner-container img {
		width: 100%;
	}

/********* MAIN CONTENTS *********/

	
 /********** left **********/

	#left {
		grid-column-start: 1;
		grid-column-end: 3;
		padding-top:10px;
		display: grid;
		grid-template-columns: 50% 50%;
	}	
	
	#left div {
		margin-right:5px;
		padding:2px;
  	}

	#left div p {
		font-family: "Times New Roman";
		font-size:1.2em;
	}

	#left div h3 {
		color: #828f80;
		font-weight: bold;
	}

	#left div img {
		width:100%;
	}



/********** right **********/

	aside div {
		padding:10px;
	}

	aside#right {
		grid-column-start: 3;
		grid-column-end: 4;
	}	

	aside#right div {
		border-bottom:1px solid black;
	}

/******** FOOTER *********/

	footer {
		width:100%;
		display: grid;
		grid-area: footer;
		grid-template-columns: 33.33% 33.33% 33.33%;
	}
		
	footer > div {
		box-sizing: border-box;
		border-color:white;
		border-width: 2px;
		border-style: dotted;
		background-color:#2e2e2e;
		height:300px;
	}

	#creditsfooter {
	font-size:0.9em;
	}

	#creditsfooter div {
		margin-left:10px;
		color:white;
	}

	#creditsfooter img {
		max-width:100%;
		height:auto;
	}


	#socialmedia > div {
		display:inline-block;
		margin:5px;
		height:20px;
		margin-top:25px;
	}

	#menufooter ul {
		color: white;
		list-style-type: none;
		line-height: 40px;
		text-transform: uppercase; 
		padding:20px;
	}

	#menufooter img {
		padding-right: 10px;
		height:10px;
	}

